.app_dark_theme {
  --bg-color: #0a1929;
  --inverted-bg-color: #fff;
  --primary-color: #90caf9;
  --secondary-color: #ce93d8;
  --inverted-primary-color: rgb(0 0 0 / 87%);
  --inverted-secondary-color: rgb(0 0 0 / 60%);
}
