.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #0a1929;

  --primary-color: rgba(0, 0, 0, .87);
  --secondary-color: rgba(0, 0, 0, .6);
  --inverted-primary-color: #90caf9;
  --inverted-secondary-color: #ce93d8;
}
